h1{color: #003366;
}
h2{color: #003366;
}
p{color: rgb(255,255,255);
}
body{
  background-color: rgb(194, 178, 128);
  background-image:url("myBackground.jpg");
}
#bradley{
  float:left;
}
#skate{
  float:right;
}
#snake{
  float:left;
  margin-left:300px;
}
#pat{
  float:right;
  margin-right:300px;
}

